body {
	background: url("http://i.imgur.com/HgflTDf.jpg") 50% fixed;
}
#top_bar {
	height:120px;
}
#main {
	height:500px;
}
#bottom_bar {
	height:50px;
}
#head_img {
	position: absolute;
	float: left;
	overflow: hidden;
	height: 100px;
	width:  100px;
	margin: 10px auto;
	border-radius: 50%;
}
#head_img img {
	height: 100px;
	width:  100px;
}
#introduction #username {
	position: absolute;
	margin-top: 40px;
	font-size: 18pt;
	font-family: "黑体","宋体",sans-serif;
	height:10px;
	width: 100px;
	left: 110px;
}
#introduction #content  {
	position: absolute;
	margin-top: 65px;
	font-family: "黑体","宋体",sans-serif;
	left: 110px;
	width: 300px;
}

.button{
	    position: relative;
	    left: 575px;
	    margin-top: 40px;
	    float:left;
	    display: inline-block;
	    height: 50px;
	    width: 80px;
	    font-size: 20px;
	    padding: 5px;
	    border-radius: 30em 0em 0em 30em;
	    background-color: #ececec;
	    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
	    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
	    background-image: -o-linear-gradient(#f4f4f4, #ececec);
	    background-image: linear-gradient(#f4f4f4, #ececec);
	    -moz-background-clip: padding; /* for Firefox 3.6 */
	    background-clip: padding-box;
	    outline: none;
	    opacity: 0.7;
}
#book_review {
	border-radius: 0em 30em 30em 0em;
}
.button:hover,
.button:focus,
.button:active,
.button.active {
	    border-color: #3072b3;
	    border-bottom-color: #2a65a0;
	    text-decoration: none;
	    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	    color: #fff;
	    background-color: #3c8dde;
	    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
	    background-image: -moz-linear-gradient(#599bdc, #3072b3);
	    background-image: -o-linear-gradient(#599bdc, #3072b3);
	    background-image: linear-gradient(#599bdc, #3072b3);
}

#left {
	width: 300px;
	float: left;
}
#center {
	width: 750px;
	height: 500px;
	float: left;
	background-image: url("../images/diary_book1.png");
	background-repeat: no-repeat;
}
#center img {
	width: 700px;
	height:500px;
}

#center #text1 {
	position: absolute;
	top: 200px;
	left: 360px;
	float: left;
	height:350px;
	width: 260px;
	font-size: 18pt;
	font-family: KaiTi, SimSun;
	overflow: hidden;
	border-width: 0px;
	background: transparent;
	outline: none;
}
#center #text2 {
	position: absolute;
	top: 200px;
	left: 680px;	
	float: left;
	height:350px;
	width: 260px;
	font-size: 18pt;
	font-family: KaiTi, SimSun;
	overflow: hidden;
	border-width: 0px;
	background: transparent;
	outline: none;
}


